//! **************************************************************************
// Written by: Map P.68d on Tue Mar 12 20:37:36 2019
//! **************************************************************************

SCHEMATIC START;
COMP "CS" LOCATE = SITE "P51" LEVEL 1;
COMP "SPI_CLK" LOCATE = SITE "P57" LEVEL 1;
COMP "CLK" LOCATE = SITE "P56" LEVEL 1;
COMP "MISO" LOCATE = SITE "P50" LEVEL 1;
COMP "MOSI" LOCATE = SITE "P58" LEVEL 1;
COMP "ADC_IN<0>" LOCATE = SITE "P46" LEVEL 1;
COMP "ADC_IN<1>" LOCATE = SITE "P43" LEVEL 1;
COMP "ADC_IN<2>" LOCATE = SITE "P44" LEVEL 1;
COMP "ADC_IN<3>" LOCATE = SITE "P40" LEVEL 1;
COMP "ADC_IN<4>" LOCATE = SITE "P41" LEVEL 1;
COMP "ADC_IN<5>" LOCATE = SITE "P34" LEVEL 1;
COMP "ADC_IN<6>" LOCATE = SITE "P35" LEVEL 1;
COMP "ADC_IN<7>" LOCATE = SITE "P33" LEVEL 1;
COMP "ADC_IN<8>" LOCATE = SITE "P30" LEVEL 1;
COMP "ADC_IN<9>" LOCATE = SITE "P29" LEVEL 1;
COMP "ADC_CLK" LOCATE = SITE "P45" LEVEL 1;
COMP "ADC_IN<10>" LOCATE = SITE "P32" LEVEL 1;
COMP "ADC_IN<11>" LOCATE = SITE "P26" LEVEL 1;
COMP "ADC_IN<12>" LOCATE = SITE "P27" LEVEL 1;
COMP "ADC_IN<13>" LOCATE = SITE "P24" LEVEL 1;
SCHEMATIC END;

