
# PlanAhead Generated physical constraints 

NET "ADC_CLK" LOC = P45;
NET "CLK" LOC = P56;
NET "ADC_IN[0]" LOC = P46;
NET "ADC_IN[1]" LOC = P43;
NET "ADC_IN[2]" LOC = P44;
NET "ADC_IN[3]" LOC = P40;
NET "ADC_IN[4]" LOC = P41;
NET "ADC_IN[5]" LOC = P34;
NET "ADC_IN[6]" LOC = P35;
NET "ADC_IN[7]" LOC = P33;
NET "ADC_IN[8]" LOC = P30;
NET "ADC_IN[9]" LOC = P29;
NET "ADC_IN[10]" LOC = P32;
NET "ADC_IN[11]" LOC = P26;
NET "ADC_IN[12]" LOC = P27;
NET "ADC_IN[13]" LOC = P24;
NET "SPI_CLK" LOC = P57;
NET "MOSI" LOC = P58;
NET "MISO" LOC = P50;
NET "CS" LOC = P51;

# PlanAhead Generated IO constraints 

NET "MISO" SLEW = FAST;
