//! **************************************************************************
// Written by: Map P.68d on Thu Mar 14 23:24:25 2019
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "P56" LEVEL 1;
COMP "CS" LOCATE = SITE "P51" LEVEL 1;
COMP "MISO" LOCATE = SITE "P50" LEVEL 1;
COMP "LED1" LOCATE = SITE "P95" LEVEL 1;
COMP "LED2" LOCATE = SITE "P94" LEVEL 1;
COMP "MOSI" LOCATE = SITE "P58" LEVEL 1;
COMP "LED3" LOCATE = SITE "P98" LEVEL 1;
COMP "LED4" LOCATE = SITE "P97" LEVEL 1;
COMP "SPI_CLK" LOCATE = SITE "P57" LEVEL 1;
SCHEMATIC END;

