//! **************************************************************************
// Written by: Map P.68d on Sun Mar 03 16:51:03 2019
//! **************************************************************************

SCHEMATIC START;
COMP "H_SYNC" LOCATE = SITE "P26" LEVEL 1;
COMP "V_B<0>" LOCATE = SITE "P29" LEVEL 1;
COMP "V_B<1>" LOCATE = SITE "P30" LEVEL 1;
COMP "V_B<2>" LOCATE = SITE "P32" LEVEL 1;
COMP "V_B<3>" LOCATE = SITE "P33" LEVEL 1;
COMP "V_B<4>" LOCATE = SITE "P34" LEVEL 1;
COMP "LED1" LOCATE = SITE "P95" LEVEL 1;
COMP "LED2" LOCATE = SITE "P94" LEVEL 1;
COMP "V_SYNC" LOCATE = SITE "P27" LEVEL 1;
COMP "LED3" LOCATE = SITE "P98" LEVEL 1;
COMP "LED4" LOCATE = SITE "P97" LEVEL 1;
COMP "V_R<0>" LOCATE = SITE "P46" LEVEL 1;
COMP "V_R<1>" LOCATE = SITE "P47" LEVEL 1;
COMP "V_R<2>" LOCATE = SITE "P48" LEVEL 1;
COMP "V_R<3>" LOCATE = SITE "P50" LEVEL 1;
COMP "V_R<4>" LOCATE = SITE "P51" LEVEL 1;
COMP "V_G<0>" LOCATE = SITE "P35" LEVEL 1;
COMP "V_G<1>" LOCATE = SITE "P40" LEVEL 1;
COMP "V_G<2>" LOCATE = SITE "P41" LEVEL 1;
COMP "CLK" LOCATE = SITE "P56" LEVEL 1;
COMP "V_G<3>" LOCATE = SITE "P43" LEVEL 1;
COMP "V_G<4>" LOCATE = SITE "P44" LEVEL 1;
COMP "V_G<5>" LOCATE = SITE "P45" LEVEL 1;
SCHEMATIC END;

