##ʱ
NET "CLK" LOC = P56;


NET "SPI_CLK" LOC = P51;
NET "SPI_CLK" TNM_NET = "CLOCK_SPI";
TIMESPEC TS_CLOCK_SPI = PERIOD "CLOCK_SPI" 10 ns HIGH 50 %;
NET "MOSI" LOC = P58;
NET "MISO" LOC = P50;
NET "CS" LOC = P57;
#
##
#NET "IRDA" LOC = P62;
#
#NET "ADCSN" LOC = "61";
#NET "ADDAT" LOC = "59";
#NET "ADCLK" LOC = "55";
#
#
##AD
#NET "ADCSN" LOC = P61;
#NET "ADDAT" LOC = P59;
#NET "ADCLK" LOC = P55;

##VGA
#NET "V_R[4]" LOC = P51;
#NET "V_R[3]" LOC = P50;
#NET "V_R[2]" LOC = P48;
#NET "V_R[1]" LOC = P47;
#NET "V_R[0]" LOC = P46;
#NET "V_G[5]" LOC = P45;
#NET "V_G[4]" LOC = P44;
#NET "V_G[3]" LOC = P43;
#NET "V_G[2]" LOC = P41;
#NET "V_G[1]" LOC = P40;
#NET "V_G[0]" LOC = P35;
#NET "V_B[4]" LOC = P34;
#NET "V_B[3]" LOC = P33;
#NET "V_B[2]" LOC = P32;
#NET "V_B[1]" LOC = P30;
#NET "V_B[0]" LOC = P29;
#NET "V_SYNC" LOC = P27;
#NET "H_SYNC" LOC = P26;


#PS2
#NET "PS2_CLK" LOC = P24;
#NET "PS2_DAT" LOC = P23;

##KEY
#NET "KEY2" LOC = P21;
#NET "KEY1" LOC = P17;
#NET "KEY4" LOC = P16;
#NET "KEY3" LOC = P15;
#
##UART
#NET "TXD" LOC = P14;
#NET "RXD" LOC = P12;
#
##BEEP
#NET "BP1" LOC = P11;



#SDRAM
#NET "SDRAM_A4" LOC = P143;
#NET "SDRAM_A5" LOC = P142;
#NET "SDRAM_A6" LOC = P141;
#NET "SDRAM_A7" LOC = P140;
#NET "SDRAM_A8" LOC = P139;
#NET "SDRAM_A9" LOC = P138;
#NET "SDRAM_A11" LOC = P137;
#NET "SDRAM_A12" LOC = P134;
#NET "SDRAM_CKE" LOC = P133;
#NET "SDRAM_CLK" LOC = P132;
#NET "SDRAM_DQMH" LOC = P131;
#NET "SDRAM_DQ8" LOC = P127;
#NET "SDRAM_DQ9" LOC = P126;
#NET "SDRAM_DQ10" LOC = P124;
#NET "SDRAM_DQ11" LOC = P123;
#NET "SDRAM_DQ12" LOC = P121;
#NET "SDRAM_DQ13" LOC = P120;
#NET "SDRAM_DQ14" LOC = P119;
#NET "SDRAM_DQ15" LOC = P118;
#NET "SDRAM_RAS_N" LOC = P117;
#NET "SDRAM_CAS_N" LOC = P116;
#NET "SDRAM_WE_N" LOC = P115;
#NET "SDRAM_DQML" LOC = P114;
#NET "SDRAM_DQ7" LOC = P112;
#NET "SDRAM_DQ6" LOC = P111;
#NET "SDRAM_A3" LOC = P10;
#NET "SDRAM_A2" LOC = P9;
#NET "SDRAM_A1" LOC = P8;
#NET "SDRAM_A0" LOC = P7;
#NET "SDRAM_A10" LOC = P6;
#NET "SDRAM_BA1" LOC = P5;
#NET "SDRAM_BA0" LOC = P2;
#NET "SDRAM_CS_N" LOC = P1;
#NET "SDRAM_DQ5" LOC = P105;
#NET "SDRAM_DQ4" LOC = P104;
#NET "SDRAM_DQ2" LOC = P102;
#NET "SDRAM_DQ3" LOC = P101;
#NET "SDRAM_DQ0" LOC = P100;
#NET "SDRAM_DQ1" LOC = P99;

#LED
NET "LED1" LOC = P95;
NET "LED2" LOC = P94;
#NET "LED3" LOC = P98;
#NET "LED4" LOC = P97;


#SPI FLASH
#NET "FLASH_CS" LOC = P93;
#NET "FLASH_DO" LOC = P92;
#NET "FLASH_CLK" LOC = P88;
#NET "FLASH_DI" LOC = P87;

##DIGITAL CUBE
NET "SEGMENTS[0]" LOC =P85;
NET "SEGMENTS[1]" LOC = P84;
NET "SEGMENTS[5]" LOC = P83;
NET "SEGMENTS[4]" LOC = P82;
NET "SEGMENTS[3]" LOC = P81;
NET "SEGMENTS[7]" LOC = P80;
NET "SEGMENTS[6]" LOC = P79;
NET "SEGMENTS[2]" LOC = P78;
#
NET "DIGITS[0]" LOC = P66;
NET "DIGITS[1]" LOC = P74;
NET "DIGITS[2]" LOC = P67;
NET "DIGITS[3]" LOC = P75;
#
#NET "DNC" LOC = P22;
#
#
#NET "EXT_P" LOC = P58;
#NET "EXT_N" LOC = P57;




